
{% if category %}<h1 class="">Category Archives: {{ category.name }}</h1>{% endif %}
{% if tag %}<h1 class="">Tag Archives: {{ tag.name }}</h1>{% endif %}
{% if topic %}<h1 class="">Topic Archives: {{ topic.name }}</h1>{% endif %}
{% if year or month %}<h1 class="">Monthly Archives: {{ year }}-{{ month }}</h1>{% endif %}
{% if not keyword %}{% set keyword=None %}{% endif %}

{% if articles %}
  <input type="hidden" class="indextype" value="{{ indextype }}"/>
    {% for mi in articles%}
			{% if (loop.index - 1) % 4 == 0%}
				<div class="row">
			{%endif%}
					<div class="3u">
						<section>
								<div class="image full">
									<a href="/fhhash/{{mi['slug'] or mi.no}}/{{mi.tag}}" target="_blank">
									<img class="lazy" data-original="{{mi.thumbnail or mi.imgpost}}" alt="{{mi.title or mi.name}}|{{mi.tag}}" />
								</div>
							<h4><a target="_blank" href="/fhhash/{{mi['slug'] or mi.no}}/{{mi.tag}}">{{mi['no']}}</a></h4>
							<p>{%if mi.created %}{{mi.created|date('%Y-%m-%d')}}{%endif%}|<strong>点赞：</strong>{{mi['hot'] or ''}}</p>
							<p id="name_{{mi['id'] + 9878901231}}" no="{{mi['slug'] or mi.no}}">{{(mi.title or mi.name)|emphasis(keyword)|safe or '[暂无片名]'}}</p>
              {% if (mi.title or mi.name)%}
                <button text="" onclick="javascript:fanyi('name_{{mi['id'] + 9878901231}}')">翻译中文</button>
              {%endif%}
						</section>
					</div>
				{% if (loop.index) % 4 == 0 or loop.last %}
				</div>
				{%endif%}
			<!-- Product -->
		{% endfor %}
	<nav aria-label="document list paging" id="docpagi" max-size="5">
		<ul class="pagination pagination-md pagination-flush">
		</ul>
	</nav>
{% else %}
  <p>没有内容</p>
{% endif %}
  <script>
  	$(function(){
  		var page = {{curpage}};
      var pageurl = "{{pageurl}}";
      if(!pageurl)
      {
        pageurl = "/fhs/__id__";
      }

  		if(!page)
      {
  			page = 1;
      }
  		$(".pagination").createPage({
  				totalPage:{{pages}},
  				currPage:page,
  				link_to:pageurl
  		});
  	})
  	</script>
