{% if category %}<header><h2 class="">Category Archives: {{ category.name }}</h2></header>{% endif %}
{% if tag %}<header><h2 class="">Tag Archives: {{ tag.name }}</h2></header>{% endif %}
{% if topic %}<header><h2 class="">Topic Archives: {{ topic.name }}</h2></header>{% endif %}
{% if year or month %}<header><h2 class="">Monthly Archives: {{ year }}-{{ month }}</h2></header>{% endif %}
{% if not keyword %}{% set keyword=None %}{% endif %}

{% if articles %}
  {% for article in articles %}

  <div class="post" id="article-{{ article.id }}">
    <div class="title">
      <h3 class="topic">{% if article.ontop %}[置顶]{% endif %}<a class="keyword" href="{{ article.link }}" rel="bookmark" title="{{ article.title }}">{{ article.title|emphasis(keyword)|safe }}</a></h3>
      <p class="postmeta">{{article.created|date('%Y') }}年{{ article.created|date('%m') }}月{{ article.created|date('%d') }}日 Post by
{{ article.author }} . 分类: <a href="{{ article.category.link }}">{{ article.category.name }}</a>.
      {{ article.hits }} Views.</p>
    </div>

    <div class="clear"></div>
    <div class="row">
      {%if article.category.name == "女优介绍"%}
        <div class="3u entry">
          <img class="image full" src="{{article.thumbnail}}" alt="{{article.title}}"/>
        </div>
        <div class="9u">
          <p class="keyword">{{ article.summary|emphasis(keyword)|safe }}</p>
          {% if article.has_more %}<p><a href="{{ article.link }}" rel="nofollow">Read More...</a>{% endif %}
        </div>
      {%else%}
        <div class="5u entry">
          <img class="image full" src="{{article.thumbnail}}" alt="{{article.title}}"/>
        </div>
        <div class="7u">
          <p class="keyword">{{ article.summary|emphasis(keyword)|safe }}</p>
          {% if article.has_more %}<p><a href="{{ article.link }}" rel="nofollow">Read More...</a>{% endif %}
        </div>
      {%endif%}
    </div>
  </div>
  <hr/>
  <div class="clear"></div>
  {% endfor %}
{% else %}
  <p>没有内容</p>
{% endif %}

{% if pagination and pagination.page_count > 1 %}
<div class="pagenavi">
{{ pagination.pager('$link_first $link_previous ~2~ $link_next $link_last (Page $page/$page_count)') }}
</div>
{% endif %}
