<section>
    <header>
      <h2>为您推荐女优</h2>
    </header>
		<ul class="style1">
    {%for cast in casts%}
        <li>
          <a href="/cast/{{cast.name}}" target="_blank"><img src="{{cast.img}}" alt="{{cast.name}}" width="78" height="110"></a>
    			<p><a href="/cast/{{cast.name}}" target="_blank">{{cast.name}}</a></p>
    			<p>
            {%for tag in cast.tags%}
              {{tag}}|
            {%endfor%}
          </p>
    			<p class="posted">{{cast.castdate}}  |  {{cast.hot}}</p>
        </li>
    {%endfor%}
	  </ul>
</section>
