
  <section class="default" role="navigation">
      <div class="nav nav-pills nav-justified">
          <span class="nav-link">按时间过滤：</span>
          <a class="nav-link" href="/fhs/" >全部</a>
          <a class="nav-link" href="/fhs_date/2018">2018</a>
          <a class="nav-link" href="/fhs_date/2017">2017</a>
          <a class="nav-link" href="/fhs_date/2016">2016</a>
          <a class="nav-link" href="/fhs_date/2015">2015</a>
          <a class="nav-link" href="/fhs_date/2014">2014</a>
          <a class="nav-link" href="/fhs_date/2013">2013</a>
          <a class="nav-link" href="/fhs_date/2012">2012</a>
          <a class="nav-link" href="/fhs_date/2011">2011</a>
          <a class="nav-link" href="/fhs_date/2010">2010</a>
          <a class="nav-link" href="/fhs_date/2009">2009</a>
      </div>
      <div class="nav">
          <span class="nav-link">按类型过滤：</span>
          <a class="nav-link" href="/fhs/" >全部</a>
          <a class="nav-link" href="/fhs_tag/单体">单体</a>
          <a class="nav-link" href="/fhs_tag/多名">多名</a>
          <a class="nav-link" href="/fhs_tag/步兵">步兵</a>
          <a class="nav-link" href="/fhs_tag/字幕">字幕</a>
          <a class="nav-link" href="/fhs_tag/人妻">人妻</a>
          <a class="nav-link" href="/fhs_tag/户外">户外</a>
          <a class="nav-link" href="/fhs_tag/校园">校园</a>
          <a class="nav-link" href="/fhs_tag/奇幻">奇幻</a>
          <a class="nav-link" href="/fhs_tag/警匪">警匪</a>
      </div>
  </section>
