
<section>
    <div class="header_bg">
    </div>
  <header>
    <h2>热门系列</h2>
  </header>

    <script type="text/javascript">
        var ad_idzone = "3551465",
        ad_width = "300",
        ad_height = "250"
    </script>
    <script type="text/javascript" src="https://a.exosrv.com/ads.js"></script>
    <noscript>
        <iframe src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=3551465&output=noscript&type=300x250" width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    </noscript>
    <ul class="default"><li class="showhide" style="display: none;"><span class="title">MENU</span><span class="icon1"></span><span class="icon2"></span></li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/S1NO.1STYLE">S1NO.1STYLE  <span class="badge">988部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/%E3%83%A9%E3%82%B0%E3%82%B8%E3%83%A5TV">ラグジュTV  <span class="badge">440部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/%C2%A0">&nbsp;  <span class="badge">178部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/SODstar">SODstar  <span class="badge">107部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/S%E7%B4%9A%E7%B4%A0%E4%BA%BA">S級素人  <span class="badge">104部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/IDEAPOCKET">IDEAPOCKET  <span class="badge">374部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/%E6%BA%9C%E6%B1%A0%E4%BA%94%E9%83%8E">溜池五郎  <span class="badge">116部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/PRESTIGE">PRESTIGE  <span class="badge">845部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/ALICEJAPAN">ALICEJAPAN  <span class="badge">124部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/%E3%83%86%E3%82%A3%E3%83%83%E3%82%B7%E3%83%A5">ティッシュ  <span class="badge">526部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/MOODYZ">MOODYZ  <span class="badge">406部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/GLAMOROUS">GLAMOROUS  <span class="badge">115部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/SOD">SOD  <span class="badge">341部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/MAXA">MAXA  <span class="badge">176部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/PREMIUM">PREMIUM  <span class="badge">110部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/EBODY">EBODY  <span class="badge">237部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/SOD%E3%82%AF%E3%83%AA%E3%82%A8%E3%82%A4%E3%83%88">SODクリエイト  <span class="badge">204部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/Madonna">Madonna  <span class="badge">527部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/KMPVR">KMPVR  <span class="badge">125部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/GIGA">GIGA  <span class="badge">104部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/WANZ">WANZ  <span class="badge">194部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/%E6%9C%AC%E4%B8%AD">本中  <span class="badge">227部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/MAXING">MAXING  <span class="badge">343部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/Fitch">Fitch  <span class="badge">198部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/KMP">KMP  <span class="badge">402部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/Calen">Calen  <span class="badge">103部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/ATTACKERS">ATTACKERS  <span class="badge">189部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/kawaii">kawaii  <span class="badge">403部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/%E9%BE%8D%E7%B8%9B">龍縛  <span class="badge">130部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/OPPAI">OPPAI  <span class="badge">191部</span>
        </a>
      </li>

      <li class="" style="display: inline-block;">
        <a class="button small" target="_blank" href="/publisher/ABSOLUTELYPERFEC">ABSOLUTELYPERFEC  <span class="badge">202部</span>
        </a>
      </li>
    </ul>
</section>
